* {
  padding: 0;
  margin: 0;
}
// :root {
//   --primary: #eb2f64;
//   --primary-light: #ff3366;
//   --primary-dark: #ba265d;
//   --grey-light: #faf9f9;
//   --grey-dark: #999;
// }
*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: auto;
}
body {
  font-family: "Open Sans", "san-serif";
  font-weight: 400;
  line-height: 1.6;
  background-image: linear-gradient(to right bottom, $primary, $primary-light);
  background-size: cover;
  background-repeat: no-repeat;
  color: $grey-dark-2;
  margin: 0 0 30rem 0;
  padding: 5rem 20rem;
  height: auto;
}
html,
body {
  height: fit-content !important;
}
.root {
  background-color: #fff;
}
.outlet {
  width: 100%;
  flex: 1;
}
img.ant-image-preview-img {
  max-height: 88%;
}
