.hotel-view {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: $grey-light-3;
}
.gallery {
  display: flex;

  &__img {
    display: block;
    width: 100%;
  }
  &__img-1 {
    background-color: red;
  }
}

.flex {
  @include Center;
  justify-content: start;
}

.ant-rate-star-half .ant-rate-star-first,
.ant-rate-star-full .ant-rate-star-second {
  & path {
    fill: red;
  }
  color: red;
}
.hotel__heading {
  display: flex;
  justify-content: space-between;
  &-title {
    font-size: 3rem;
    text-transform: uppercase;
    color: $grey-dark-2;
    margin: 0 5rem;
  }
  background-color: white;
}
.location {
  font-weight: 700;
  color: crimson;
  text-decoration: underline;
  margin-left: 0.5rem;
  font-size: 1.5rem;
}
.votes {
  text-align: center;
  background-color: rgb(208, 9, 9);
  color: white;
  padding: 1rem 3rem;
  font-weight: 400;
  & > :first-child {
    font-size: 3rem;
  }
  margin-left: 4rem;
}
.content__wrap {
  //   margin-top: 3rem;
  padding: 4rem 3rem 2rem;
  display: flex;
  gap: 3rem;
  &-1 {
    flex: 2;
    background-color: white;
    padding: 2rem 5rem;
  }
  &-2 {
    flex: 1;
    margin-left: 2rem;
    & > a {
      text-align: center;
      cursor: pointer;
      text-decoration: underline;
      font-size: 1.5rem;
      color: $primary-dark;
      display: flex;
      justify-content: center;
      &:hover {
        text-decoration: underline;
        color: $primary;
      }
    }
  }
}
.quote {
  position: relative;
  overflow: hidden;
  background-color: white;
  z-index: 999;
  padding: 3rem;
  &__user {
    margin-left: 1rem;
    &-name {
      font-weight: 500;
    }
    &-date {
      font-size: 1rem;
      color: $grey-dark-2;
    }
  }
  &__user-rating {
    color: red;
    font-size: 2rem;
    font-weight: 600;
  }
  &__text {
    position: relative;
    z-index: 999;
  }
}
.quote::before {
  content: "\201C";
  position: absolute;
  top: -8rem;
  left: -1rem;
  z-index: 1;
  color: $grey-light-3;
  font-size: 20rem;
  font-family: sans-serif;
  // font-size: 10rem;
}
.quote:last-child {
  margin-top: 2rem;
}

.lists {
  list-style: none;
  display: grid;
  grid-template-columns: auto auto;
  // & > li > span {
  //   margin-right: 1rem;
  //   color: red;
  // }
  &__item::before {
    content: ">";
    display: inline-block;
    margin-right: 1rem;
    color: red;
  }
}

.imgwrapper {
  position: relative;
  display: flex;
}
.ant-image-mask-info,
.ant-image-mask:hover {
  display: none;
}

.user-img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 2px solid $grey-light-1;
  padding: 0.3rem;
  background-position: center;
  object-fit: cover;
  &-1 {
    cursor: pointer;
    position: absolute;
    transition: all 0.5s;
    left: 8rem;
  }
  &-2 {
    cursor: pointer;

    position: absolute;
    transition: all 0.5s;
    left: 5rem;
  }
  &-3 {
    cursor: pointer;

    position: absolute;
    transition: all 0.5s;
    left: 2rem;
  }
  &-4 {
    cursor: pointer;

    position: absolute;
    transition: all 0.5s;
  }
}
.show {
  transition: margin-left 0.2s;
}
.btn {
  display: flex;
  padding: 3rem;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  background-color: white;
  &__title {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: $grey-dark-3;
  }
  &__button {
    text-transform: uppercase;
    padding: 2rem 4rem;
    outline: none;
    border: none;
    color: white;
    font-size: 2rem;
    border-radius: 50px;
    cursor: pointer;
    background-image: linear-gradient(to right, $primary-dark, $primary-light);
    &:hover {
      transition: all 0.8s;

      background-image: linear-gradient(to right, $primary-light, $primary-dark);
    }

    &:active {
      transform: scale(1.01);
    }
  }
}
